@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #881515;

  --backgroud-primary-color: #ffff;
  --backgroud-secondary-color: #f5f5f5;
  --backgroud-tertiary-color: #000;

  --text-primary-color: #222;
  --text-secondary-color: #fff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
section,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  color: var(--button-primary-color);
  margin-bottom: 1rem;
}
